<h1>Todo Item for - </h1>
{% if user.is_authenticated %}
Logged in User " {{ user.username }} "
{% endif %}
<br>
<br>
<br>


{% block content %}

{{ error }}

{% if todo.Important %}<b>{% endif %}
{{ todo.Title }}
</b>

<form method = 'POST'> <!--Using form tag as we now have to edit the todo details then and there on the webpage and as it is POST so it is.-->
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save Changes</button>
</form>

<form method = 'POST', action = "{% url 'completetodo' todo.id %}"> <!--Using form tag as we now have to edit the todo details then and there on the webpage and as it is POST so it is.-->
    {% csrf_token %}
    <button type="submit">Mark Complete</button>
</form>

<form method = 'POST', action = "{% url 'deletetodo' todo.id %}"> <!--Using form tag as we now have to edit the todo details then and there on the webpage and as it is POST so it is.-->
    {% csrf_token %}
    <button type="submit">Delete Todo</button>
</form>

{% endblock %}